<h1><%= @maker.brand %></h1>
<h2>Perfumes</h2>

<ul>
  <%= 'No perfumes listed' if @maker.perfumes.empty? %>
  <% @maker.perfumes.each do |perfume| %>
  <li>
    <%= link_to perfume.name, maker_perfume_path(@maker, perfume) %>
  </li>
  <% end %>
</ul>

<div>
<h3>Add a Perfume</h3>
<%= form_with(model: Perfume.new, local: true) do |f| %>
  <%= hidden_field_tag :maker_id, @maker.id %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.select :tag_ids, options_from_collection_for_select(Tag.all, 'id', 'name') %>
  <%= f.submit %>
<% end %>
</div>

<%= link_to 'Delete Maker', @maker, method: 'delete', local: true %>-<%= link_to 'Go Back', makers_path%>
